* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    background-color: gray;
}

h1 {
  
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.canvas-container {
    width: 80vw;
    margin: 10px auto;
    background-color: brown;
    border: 1px solid black;
}

canvas {
    background-color: white;
    border: 1px solid black;
}