:root {
    /* pallete */
    --clr-primary1:  #272c36;
    --clr-primary2:  #383b42;
    --clr-primary3:  #19a59f;
    --clr-primary4:  #34abca;
    --clr-primary5:  #28b482;
    --clr-secendry1:  #31aac9;
    --clr-secendry2:  #3dd053;
    --clr-secendry3:  #e03736;
    --clr-secendry4:  #1e7cd3;
    --clr-secendry5:  #8f44bb;

}